{% extends "base.html" %}
{% load tz %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
    <h2>Lista de Produtos</h2>
    {% if produtos %}
        <ul>
            {% for produto in produtos %}
                <li>
                    {{produto.nome}}, {{produto.preco}}, {{produto.criado_em|localtime|date:"d/m/Y H:i"}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}
{% endblock %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
